body {    
    background-color: #272928; /* Background color of the image (so it blends in) */
}

#Title {
    text-align: center;
    padding-top: 0px;
    font-family: 'Poiret One', cursive;
    font-size: 60px;
    font-weight: 400;
    color: white;
}
#Title > h3 {
    font-size: 30px;
    padding-top: 30px;
}

.image {
    position: absolute;
    top: 65%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin:-250px 0 0 -250px;
    -webkit-animation:spin 10s linear infinite;
    -moz-animation:spin 10s linear infinite;
    animation:spin 10s linear infinite;
    -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}

.image:hover {
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }