body {    
    background-color: #000000; /* Background color of the image (so it blends in) */

}

#Title {
    text-align: center;
    padding-top: 0px;
    font-family: 'Poiret One', cursive;
    font-size: 60px;
    font-weight: 400;
    color: white;
}
#Title > h3 {
    font-size: 30px;
    padding-top: 30px;
}
#Start {
    position: absolute;
    top: 50%;
    left: 50%;
}
#Start > .mask {
        -webkit-transition: all 1s ease !important;
    -moz-transition: all 1s ease !important;
    -o-transition: all 1s ease !important;
    -ms-transition: all 1s ease !important;
        transition: all 1s ease !important;
    width: 400px;
    height: 560px;
    margin:-250px 0 75px -210px; /* Top, Left, Bottom, Right */
}
#startBtn {
    margin-left: -100%;
}

.mask:hover {
    -webkit-filter: blur(2px);
    filter: blur(2px);
  }
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.Btn {
    position: fixed;
	margin-top: 10%;
    left: 40%;
	right: 60%;
	width: 20%;
	height: 5%;
}


p{
	float: left;
	color: lime; 
	font-family: 'Poiret One', cursive;
	font-size: 40px;
	position: relative;
	left: 30%;
	white-space: nowrap;
	overflow: hidden;
	width: 50%;
	animation: type 4s steps(60, end);
}

p:nth-child(2){
  animation: type2 8s steps(60, end);
}

p a{
  color: lime;
  text-decoration: none;
}

input{
	float: right;
	background-color: #1a1a1a;
	color: lime; 
	font-family: 'Poiret One', cursive;
	font-size: 40px;
	position: relative;
	right: 30%;
	margin-top: 1.9%;
	white-space: nowrap;
	overflow: hidden;
	width: 10em;
	animation: type 0s steps(60, end); 
	outline-color: black;
	border-color: black;
}

span{
  
  
}

.load {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: all 1s ease !important;
    -moz-transition: all 1s ease !important;
    -o-transition: all 1s ease !important;
    -ms-transition: all 1s ease !important;
        transition: all 1s ease !important;
    width: 500px;
    height: 500px;
    margin:-250px 0 0 -250px; /* Top, Left, Bottom, Right */
    -webkit-animation:spin 0.5s linear infinite;
    -moz-animation:spin 0.5s linear infinite;
    animation:spin 0.5s linear infinite;

}
    
@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  12%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}

